.sidenav {
    background-color: rgba(255, 0, 0, 0.411);
    width: 200px;
}

.sidenav a {
    color: #FFF;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}