<mat-card class="home mat-elevation-z3">
    <mat-card-title>Bem Vindo!</mat-card-title>
    <!--<mat-card-subtitle>Sistema criado para o desafio de contratação da Pitang</mat-card-subtitle>-->
    <mat-card-subtitle>Você está logado como {{ username }} </mat-card-subtitle>
    <form>

        <div class="button-container">

            <button mat-raised-button (click)="logout()" color="primary">
                Logout
            </button>
            
        </div>
        </form>
</mat-card>


