<div>
    <mat-form-field>
        <input matInput placeholder="Placa" [(ngModel)]="car.licensePlate" name="licensePlate">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Ano Fabricação" [(ngModel)]="car.year" name="year">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Modelo" [(ngModel)]="car.model" name="model">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Cor" [(ngModel)]="car.color" name="color">
    </mat-form-field>
</div>